#choropleth_map {
    left: 65px;
	margin-bottom: 10px;
}

#linechart {
    left: 5px;
	margin-bottom: 10px;
}

#linechart2 {
    left: 5px;
	margin-bottom: 10px;
}

#linechart3 {
    left: 5px;
	margin-bottom: 10px;
}

#areachart {
    left: 5px;
	margin-bottom: 10px;
}

body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    text-align: center;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 550;
    text-align: center;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 50;
    font-size: 1em;
    text-align: left;
}

body {
    background-color: rgb(105, 91, 91);
}

.page {
    width: 1000px;
    background-color: rgb(253, 239, 223);
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.title-box {
    background-color: rgb(255, 215, 170);
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 90px;
    padding-right: 60px;
    border-style: inset;
    border-width: 5px;
    border-color: rgb(255, 177, 88);
    text-align: center;
}

.title-text-box {
    background-color: rgb(255, 215, 170);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    padding-right: 60px;
    border-style: double;
    border-width: 5px;
    border-color: rgb(255, 177, 88);
    text-align: center;
}

.text-box {
    background-color: rgb(255, 227, 196);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 206, 151);
    text-align: left;
}

.description h2,
h1 {
    font-family: 'Open Sans', sans-serif;
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}